<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {text-align: center;}
        body {text-align: center;}
        form {text-align: center;}
        textarea {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    </style>
    <title>あなたのレベルにあった英単語帳をコンピューターがおすすめ</title>
    <link rel="shortcut icon" href="{% static 'te_app1/favicon.ico' %}">
</head>

<body bgcolor="#99ff99">
    {% block content %}

    {% endblock %}
</body>
</html>
